pandas==2.2.0
scikit-learn==1.4.0
joblib==1.3.2
matplotlib==3.8.2
seaborn==0.13.2
# api stuff
fastapi==0.109.0
uvicorn==0.27.0
requests>=2.31.0
# for api key and other secrets t
python-dotenv==1.0.1
# observability/monitoring
prometheus-fastapi-instrumentator>=6.1.0

pytest==8.0.0
httpx==0.26.0